@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Roboto:wght@300;400;500;700&display=swap");
body {
  margin: 0;
  background-color: rgba(137, 155, 134, 0.3568627451);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

/* titulos de las paginas individuales */
.titulo, .titulo--index {
  text-align: center;
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .titulo, .titulo--index {
    font-size: 35px;
    margin-bottom: 30px;
  }
}
.titulo--index {
  margin-bottom: 20px;
}

.boton, .formulario__submit {
  background-color: #556e46;
  padding: 5px 10px;
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
}
.boton:hover, .formulario__submit:hover {
  background-color: #708a5d;
}

.header {
  display: flex;
  align-items: center;
  margin: 30px auto 30px auto;
  width: 90%;
}
.header__logo {
  width: 10%;
  height: 90%;
  margin-right: 0;
}
@media (max-width: 768px) {
  .header__logo {
    width: 20%;
  }
}
.header__logo img {
  width: 110%;
  height: 100%;
  border-radius: 50%;
}

.navegacion {
  background-color: #556e46;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
@media (max-width: 992px) {
  .navegacion {
    border-radius: 20px;
    margin-top: 10px;
  }
}
.navegacion__enlaces {
  list-style: none;
  margin: 0.5rem;
  width: 100%;
}
.navegacion__enlace {
  font-size: 20px;
  text-decoration: none;
  padding: 5px 20px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  border-radius: 15px;
  transition: all 500ms ease-in-out;
}
.navegacion__enlace:hover {
  background-color: #91b088;
}

/* link activo */
.activo {
  background-color: #8aa872;
}

.navegacion-footer {
  width: 50%;
  margin: auto;
}
@media (max-width: 992px) {
  .navegacion-footer {
    width: 90%;
  }
}
.navegacion-footer__enlaces {
  display: flex;
  justify-content: center;
  padding: 0;
}
.navegacion-footer__enlace {
  text-align: center;
  padding: 0 10px 0 10px;
  border-right: 0.5px solid #000;
  color: #000;
  font-size: 17px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.navegacion-footer__enlace:hover {
  font-weight: 700;
}
@media (max-width: 992px) {
  .navegacion-footer__enlace {
    font-size: 10px;
  }
}

/* social media */
.social {
  width: 20%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 30px;
}
.social li {
  text-align: center;
  padding: 0 10px 0 10px;
  font-size: 20px;
  transition: all 200ms ease-in-out;
}
.social li:hover {
  scale: 1.4;
}

.copyright {
  text-align: center;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

/* Imagenes carrousel */
.carousel {
  margin: auto;
  width: 85%;
  display: flex;
  justify-content: center;
}
@media (max-width: 992px) {
  .carousel {
    width: 100%;
  }
}
.carousel__img {
  transition: all 500ms ease;
}
.carousel__img:hover {
  filter: brightness(80%);
}

/* Frase separacion carrousel info */
.frase {
  width: 70%;
  margin: 70px auto 40px auto;
}
@media (max-width: 992px) {
  .frase {
    width: 90%;
  }
}
.frase__texto {
  text-align: center;
  font-size: 50px;
  line-height: 1.8;
  margin: 0;
  color: #708a5d;
  font-family: "Noto Serif", serif;
}
@media (max-width: 992px) {
  .frase__texto {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .frase__texto {
    font-size: 20px;
  }
}

/* barra horizontal */
.hr {
  width: 95%;
  height: 1px;
  margin: auto;
  background-color: #3f3e3e;
}

/* seccion de video y blog */
.informacion {
  display: flex;
  width: 90%;
  margin: 70px auto 40px auto;
  text-align: center;
  gap: 15px;
  /* video iframe */
}
@media (max-width: 992px) {
  .informacion {
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
  }
}
.informacion__blog {
  width: 33%;
  border-radius: 20px;
  background-color: #8aa872;
}
@media (max-width: 992px) {
  .informacion__blog {
    width: 90%;
  }
}
.informacion__titulo {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin: 20px;
}
.informacion__video {
  width: 66%;
  background-color: #8aa872;
  border-radius: 20px;
}
@media (max-width: 992px) {
  .informacion__video {
    width: 90%;
    height: 600px;
  }
}
.informacion__iframe {
  width: 80%;
  height: 80%;
  margin-top: 15px;
}
@media (max-width: 992px) {
  .informacion__iframe {
    height: 450px;
  }
}

/* blogs */
.blog__entrada {
  width: 85%;
  display: flex;
  margin: auto auto 20px auto;
  gap: 30px;
  padding: 20px;
  border-radius: 20px;
  transition: all 500ms ease;
  align-items: center;
}
@media (max-width: 1500px) {
  .blog__entrada {
    flex-direction: column;
    align-items: center;
  }
}
.blog__entrada:hover {
  background-color: #556e46;
}
.blog__entrada img {
  width: 50%;
  object-fit: contain;
}
@media (max-width: 1500px) {
  .blog__entrada img {
    width: 95%;
  }
}
.blog__entrada h3 {
  text-align: start;
  font-size: 15px;
  font-weight: bold;
  color: #000;
}
.blog__entrada p {
  text-align: start;
  font-size: 15px;
  color: #000;
}

.nosotros {
  width: 70%;
  margin: auto auto 100px auto;
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1280px) {
  .nosotros {
    flex-direction: column;
    width: 95%;
    margin-bottom: 30px;
  }
}
.nosotros img {
  width: 30%;
  object-fit: cover;
}
@media (max-width: 1280px) {
  .nosotros img {
    width: 70%;
  }
}
.nosotros p {
  line-height: 2;
  font-weight: 300;
  font-size: 20px;
}
@media (max-width: 992px) {
  .nosotros p {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .nosotros p {
    font-size: 15px;
  }
}

.equipo {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto auto 100px auto;
  gap: 20px;
}
@media (max-width: 1280px) {
  .equipo {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }
}
.equipo__card {
  position: relative;
  border-radius: 20px;
  background-color: #91b088;
  transition: all 0.4s ease-out;
}
.equipo__card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: all 0.5s ease;
  opacity: 0;
}
.equipo__card:hover::before {
  opacity: 1;
}
.equipo__card:hover .equipo__text {
  opacity: 1;
  transform: translateY(0px);
}
.equipo__imagen {
  border-radius: 20px;
  width: 100%;
}
.equipo__text {
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0;
  color: #fff;
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
  z-index: 3;
  transition: all 0.4s ease-out;
  transform: translateY(30px);
}
@media (max-width: 768px) {
  .equipo__text {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .equipo__text {
    font-size: 15px;
  }
}
.equipo__text p {
  margin: 0;
}

/* pagina shop */
.shop {
  width: 80%;
  margin: auto auto 100px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 50px;
}
@media (max-width: 1280px) {
  .shop {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .shop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.shop__card {
  width: 18rem;
  transition: scale 300ms ease-out;
  box-shadow: -8px 7px 20px -2px rgba(0, 0, 0, 0.69);
  -webkit-box-shadow: -8px 7px 20px -2px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: -8px 7px 20px -2px rgba(0, 0, 0, 0.69);
}
.shop__card:hover {
  scale: 1.05;
}
.shop__item {
  background-color: #97b89d;
}
.shop__enlaces {
  display: flex;
  justify-content: space-around;
}
.shop__precio {
  text-align: end;
  font-size: 30px;
  margin: 0 0 30px 0;
  font-weight: bold;
}
.shop__precio span {
  font-size: 15px;
  color: #3f3e3e;
}

.blog {
  width: 70%;
  margin: auto;
}
@media (max-width: 1280px) {
  .blog {
    width: 90%;
  }
}
.blog .blog__entrada {
  margin-top: 25px;
}
@media (max-width: 576px) {
  .blog .blog__entrada {
    flex-direction: column;
  }
}
.blog .blog__entrada img {
  object-fit: contain;
}
@media (max-width: 576px) {
  .blog .blog__entrada img {
    width: 100%;
  }
}
.blog .blog__entrada h3 {
  font-size: 25px;
}
@media (max-width: 1280px) {
  .blog .blog__entrada h3 {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .blog .blog__entrada h3 {
    font-size: 15px;
  }
}
.blog .blog__entrada p {
  font-size: 20px;
}
@media (max-width: 1280px) {
  .blog .blog__entrada p {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  .blog .blog__entrada p {
    font-size: 10px;
  }
}

/* formulario */
.formulario {
  width: 60%;
  margin: auto auto 40px auto;
}
@media (max-width: 992px) {
  .formulario {
    width: 90%;
  }
}
.formulario fieldset {
  padding: 40px;
  border-radius: 10px;
  border: none;
  background-color: #91b088;
}
.formulario fieldset h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
}
.formulario__campos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .formulario__campos {
    flex-direction: column;
  }
}
.formulario__campo {
  width: 50%;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .formulario__campo {
    width: 100%;
  }
}
.formulario__label {
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.formulario__input {
  width: 95%;
  font-size: 20px;
  text-align: center;
  border: 1px solid #3f3e3e;
  border-radius: 10px;
}
.formulario__textarea {
  width: 100%;
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
  border: 1px solid #3f3e3e;
  border-radius: 10px;
}
.formulario__submit {
  padding: 10px 25px;
  margin: 15px;
  border: none;
}
.formulario__submit--reset {
  background-color: #660000;
}
.formulario__submit--reset:hover {
  background-color: red;
}
.formulario__botones {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.error {
  width: 80%;
  margin: auto auto 30px auto;
  text-align: center;
}
@media (max-width: 768px) {
  .error {
    margin: 50px auto 50px auto;
    width: 100%;
  }
}
.error__img {
  width: auto;
  margin: auto;
  display: block;
}

/*# sourceMappingURL=style.css.map */
