.blog{
    width: 70%;
    margin: auto;
    @include desktopXL{
        width: 95%;
    }
    .blog__entrada{
        margin-top: 25px;
        @include telefono{
            flex-direction: column;
        }
        img{
            object-fit: contain;
            @include telefono{
                width: 100%;
            }
        }
        h3{
            font-size: 25px;
            
        }
        p{
            font-size: 18px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 10;
            overflow: hidden;
            @include desktop{
                font-size: 20px;
            }
        }
    }
}