
//colores
$principal: #556e46;
$principal-oscuro: #708a5dff;
$secundario: #8aa872ff;
$secundario-claro: #91b088ff;
$azul-verdoso: #97b89dff;
$gris: #899b865b;
$gris-oscuro:#3f3e3e;
$blanco:#fff;
$negro:#000;

//fuentes
$fuente-principal:'Roboto', sans-serif;
$fuente-secundaria:'Noto Serif', serif;
$delgada:300;
$normal:400;
$medio:500;
$bold:700;

//brakepoints
$xs:390px;
$s:576px;
$md:768px;
$l:992px;
$xl:1280px;
$xxl:1500px;